AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/javascript
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
<FilesMatch "\.(html|ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
</FilesMatch>
ExpiresActive on
ExpiresDefault "access plus 10 years"
Header set Cache-Control "max-age=290304000, public"
Header unset ETag
FileETag None