@keyframes breezeAnimation{
	0% {
		transform: translate(0px, 0px);
	}
	33% {
		transform: translate(20px, 20px);	
	}
	66%{
		transform: translate(40px, 10px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@-moz-keyframes breezeAnimation{
	0% {
		-moz-transform: translate(0px, 0px);
	}
	33% {
		-moz-transform: translate(20px, 20px);
	}
	66%{
		-moz-transform: translate(40px, 10px);
	}
	100% {
		-moz-transform: translate(0px, 0px);
	}
}
	
@-webkit-keyframes breezeAnimation{
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	33% {
		-webkit-transform: translate(20px, 20px);
	}
	66%{
		-webkit-transform: translate(40px, 10px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
	}
}
	
@-o-keyframes breezeAnimation{
	0% {
		-o-transform: translate(0px, 0px);
	}
	33% {
		-o-transform: translate(20px, 20px);
	}
	66%{
		-o-transform: translate(40px, 10px);
	}
	100% {
		-o-transform: translate(0px, 0px);
	}
}