@charset "UTF-8";
/* CSS Document */
html{
	height:100%;
	width:100%;
	background-color:#ffffff;
	background-position:center 0px;
	background-size:100%;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size:12pt;
	margin:0px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	width:100%;
	height:auto;
}

.hide{
	display: none;	
}

main{
	width: 100%;
	height: auto;
	background-color: rgb(245, 245, 245);
	padding-top: 40px;
}

main #poster{
	width: 1000px;
	height: 1410px;
	background-color: white;
	position: relative;
	margin-left: auto;
	margin-right: auto;	
	box-shadow: 0 3px 5px black;
	padding: 20px;
}

main #poster #frame{
	width: 100%;
	height: 100%;
}
main #poster #frame #content{
	width: 1000px;
	height: 1410px;
	position: absolute;
	top: 20px;
	left: 20px;
}

main #poster #frame #content header{
	padding-top: 20px;
}

main #poster #frame #content header #logo{
	float: right;
	margin-right: 20px;
}

main #poster #frame #content footer{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
}

main #poster #frame #content footer #info{
	float: left;
	width: 500px;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

main #poster #frame #content footer #info h1, main #poster #frame #content footer #hashtag a{
	margin: 0;
	padding: 0;
	font-size: 45px;
	font-weight: 100;
	color: rgba(0,0,0,.5);
}

main #poster #frame #content footer #hashtag{
    float: right;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

main #poster #frame #content footer #hashtag a{
	color: rgba(0, 0, 0, .5);
}

main #information{
	width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-bottom: 30px;
}

main #information nav{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #ababab;
	margin-bottom: 20px;
}

main #information nav ul, main #information nav ul li{
	margin:0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

main #information nav ul{
	width: 100%;
}

main #information nav ul li{
	width:100px;
	display: inline;
	padding: 0 20px;
	
}

main #information nav ul li{
	color: #9c9c9c;
	cursor: pointer;
}

main #information nav ul li.active{
	color: #636363;
}

main #information article{
	display: none;
	text-align: center;
}

main #information article.active{
	display: block;
	width: 100%;
	height: auto;
}

main #information article p{
	font-size: 14px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

main #information article p a{
	text-decoration: none;
	color: #6092b6;
}

main #ticket{
	text-align: center;
	padding-bottom: 50px;
}