@charset "UTF-8";
/* CSS Document */
html {
	height:100%;
	width:100%;
	background-color:#ffffff;
	background-position:center 0px;
	background-size:100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	margin:0px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	width:100%;
	height:auto;
}

.hide {
	display: none;	
}

main {
	width: 100%;
	height: auto;
	background-color: rgb(245, 245, 245);
	padding-top: 40px;
}

audio {
	display: none;
}

#poster {
	width: 1000px;
	height: 1110px;
	background-color: white;
	position: relative;
	margin-left: auto;
	margin-right: auto;	
	box-shadow: 0 3px 5px black;
	padding: 20px;
}

#frame {
	width: 100%;
	height: 100%;
}
#content {
	width: 1000px;
	height: 1110px;
	position: absolute;
	top: 20px;
	left: 20px;
	border: 1px solid rgba(0,0,0,.2);
	z-index: 1000;
}

#content header {
	padding-top: 20px;
}

#logo {
	float: right;
	margin-right: 20px;
}

#tint {
	/*background-color: rgba(0, 0, 0, 0.7);*/
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 500;
}

#haveYouThought {
	position: absolute;
	left: 50%;
	top: 20%;
	text-align: center;
	color: white;
	background-color: rgba(255,255,255,.1);
	padding: 25px 15px 10px;
	border-radius: 5px;
	margin-left: -250px;
	font-weight: 200;
}

#WebGL {
    position: absolute;
    top: 20px;
}

#content footer {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
}

#info {
	float: left;
	width: 500px;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#info h2,
#hashtag a {
	margin: 0;
	padding: 0;
	font-size: 45px;
	font-weight: 100;
	color: #808080;
}

#hashtag {
    float: right;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

#hashtag a {
	color: #808080;
	color: rgba(0, 0, 0, .5);
}

#information {
	width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-bottom: 30px;
}

#information nav {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #ababab;
	margin-bottom: 20px;
}

#information nav ul,
#information nav ul li {
	margin:0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#information nav ul {
	width: 100%;
}

#information nav ul li {
	width:100px;
	display: inline;
	padding: 0 20px;
	
}

#information nav ul li {
	color: #9c9c9c;
	cursor: pointer;
}

#information nav ul li.active {
	color: #636363;
}

#information article {
	display: none;
	text-align: center;
}

#information article.active {
	display: block;
	width: 100%;
	height: auto;
}

#information article p {
	font-size: 14px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#information article p a {
	text-decoration: none;
	color: #6092b6;
}

#ticket {
	text-align: center;
	padding-bottom: 50px;
}

.fadeOut {
	opacity: 0;
	-moz-animation: fadeOutAnimation 1s; /* Firefox */
	-webkit-animation: fadeOutAnimation 1s; /* Safari and Chrome */
	-o-animation: fadeOutAnimation 1s; /* Opera */
	animation: fadeOutAnimation 1s;
}

.fadeIn {
	-moz-animation: fadeInAnimation 1s; /* Firefox */
	-webkit-animation: fadeInAnimation 1s; /* Safari and Chrome */
	-o-animation: fadeInAnimation 1s; /* Opera */
	animation: fadeInAnimation 1s;
}